@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
.section-container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 60px 140px;
}

/* hero section code */
header{
    max-width: 1920px;
    margin: 0 auto;
    /* padding: 0 240px; */
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
    background: rgba(229, 84, 115, 0.1);
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
}
.hero-title{
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
}
.hero-text{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin: 32px 0;
}
.btn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 20px 43px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    margin-bottom: 32px;
}
.hero-img img{
    width: 100%;
    height: auto; 
}

/* card section code */
.card-title{
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.card-text{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.card-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.card-bg{
    max-width: 464px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}
.card-bg-x{
    max-width: 464px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}
.card-bg-y{
    max-width: 464px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}
.card-container img{
    width: 100%;
    height: auto;
}

/* group section code */
.container-bg{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 60px;
}
.group-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}
.group-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.group-title{
    color: rgba(39, 39, 39, 0.8);
    font-size: 14px;
    font-weight: 600;
}

/* about us section code */
#section-bg{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 50px 0;
}
.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
}
.about-title{
    font-size: 34px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
}
.about-text{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin: 24px 0;
}
#span{
    color: rgb(229, 84, 115);

}
.about-img img{
    width: 318px;
}

/* instagram section code */
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.title{
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.text{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}
.img-card img{
    width: 100%;
    height: auto;
}

/* input section code */
.input-container{
    /* background-image: url(); */
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 60px;
}
.input-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input-title{
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.input-text{ 
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin: 10px;
}
input{
    border-radius: 8px;
    padding: 20px 100px;
    border: 1px solid #fff;
    margin-right: 16px;
}

/* footer section code */
footer{
    background: rgb(17, 16, 16);
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-title{
    font-size: 34px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0%;
    color: rgb(255, 255, 255);
}
#flower{
    color: rgb(229, 84, 115);

}
.footer-text{
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin: 24px 0;
}
.footer-end{
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
}